body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(84, 180, 254);
    font-family: sans-serif;
}

body > h1 {
    padding: 25px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgb(16, 129, 195);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px;
    margin-bottom: 0px;
}

input {
    padding-left: 5px;
}

button {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(16, 129, 195);
    color: rgb(255, 255, 255);
}

#temp-scale {
    display: flex;
    gap: 30px;
    padding: 20px;
}

#container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: fit-content;
    width: 40%;
    margin: 50px;
    margin-top: 20px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(16, 129, 195);
    color: rgb(255, 255, 255);
}

#range {
    display: flex;
    gap: 20px;
}

#week {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

img {
    width: 30px;
    height: 30px;
}

#hourly {
    display: flex;
    gap: 15px;
    max-width: 100%;
    overflow: scroll;
    overflow-y: hidden;
}

.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
}